.dashboard-doughnutchart-container {
	align-self: center;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--background);
	border-radius: 12px;
	padding: 20px 25px;
	border: 1px solid var(--border-cards);
	box-shadow: 0 10px 15px -3px var(--shadow), 0 4px 6px -2px var(--shadow);
	cursor: pointer;

	canvas {
		margin: 0 auto !important;
	}
}
