.dashboard-doughnutchart-container {
	align-self: center;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;


	background-color: var(--background);
	border-radius: 12px;
	padding: 20px 25px;
	/* box-shadow: 0 4px 12px rgba(15, 23, 42, 0.06); */
	border: 1px solid var(--border-cards);
	opacity: 0;
	animation: slide-up 0.4s ease-out forwards;
	box-shadow: 0 10px 15px -3px var(--shadow), 0 4px 6px -2px var(--shadow);
	cursor: pointer;
	transition: transform 0.3s ease;

	canvas {
		/* width: 100% !important; */
		/* height: 100% !important; */
		margin: 0 auto !important;
	}
}
