footer {
	padding: 0 40px;
	border-top: 1px solid var(--border);
	display: flex;
	flex-direction: column;
	
	.footer-container {
		align-self: center;
		display: grid;
		grid-template-columns:  1fr 1fr 1fr 0.6fr;
		gap: 40px;
		padding: 40px 0;
		width: 100%;
		max-width: 1000px;

		.footer-section {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.footer-title {
				white-space: nowrap;
				font-size: 1rem;
				font-weight: 600;
				color: var(--foreground);
			}

			.footer-links {
				display: flex;
				flex-direction: column;
				gap: 12px;

				a {
					white-space: nowrap;
					color: var(--foreground-sec);
					font-size: 0.9rem;
					text-decoration: none;
					transition: color 0.2s ease;

					&:hover {
						color: var(--hover-a);
					}
				}
			}
		}
	}

	.footer-bottom {
		text-align: center;
		padding: 10px 0;
		border-top: 1px solid var(--border);
		color: var(--foreground-sec);
		font-size: 0.8rem;
	}
}

@media (max-width: 700px) {
	footer {
		padding: 0 20px;
		.footer-container {
			grid-template-columns: 1fr 0.6fr;
			gap: 30px;
			padding: 20px 0;
			max-width: 400px;
		}
	}
}

@media (max-width: 450px) {
	footer {
		padding: 0 20px;

		.footer-container {
			grid-template-columns: 1fr;
			gap: 10px;
			padding: 10px 0;
			text-align: center;

			.footer-section {
				gap: 10px;

				.footer-links {
					gap: 5px;
				}
			}
		}
	}
} 
