.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: 400px;
	padding: 2rem;
	border-radius: 12px;
	background-color: var(--background-form);
	box-shadow: 0 4px 6px var(--shadow);

	input {
		padding: 15px 20px;
		border-radius: 0.3rem;
		border: 1px solid var(--border);
		color: var(--foreground);
		background-color: var(--background-input);
		transition: all 0.2s ease-in-out;
		outline: none;

		&::placeholder {
			color: var(--foreground-sec);
		}

		&:focus {
			border-color: var(--logo);
		}

		&:hover:not(:focus) {
			border-color: var(--foreground-sec);
		}
	}

	.btn, .demo-user {
		font-size: 1.1rem;
		padding: 15px;
		margin-top: 15px;
		border: none;
		border-radius: 0.3rem;
		color: #ffffff;
		background-color: var(--primary);
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			opacity: 0.9;
			box-shadow: 0 1px 8px var(--hover-auth-btn);
		}

		/* &:disabled {
			opacity: 0.6;
			cursor: not-allowed;
			transform: none;
		} */
	}

	.demo-user{
		margin-top: 0;
	}
}

@media (max-width: 480px) {
	.form {
		padding: 1.5rem;
		max-width: 100%;

		input {
			font-size: 0.9rem;
			padding: 10px 15px;
		}

		.btn, .demo-user {
			font-size: 0.9rem;
			padding: 10px;
		}
	}
}
