.auth-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	height: 100%;

	p {
		font-size: 1.1rem;
		padding: 10px 20px;
		text-align: center;
		border-radius: 0.3rem;
		color: var(--out-of-stock-txt);
		background-color: var(--out-of-stock-bg);
	}

	a {
		padding: 5px 15px;
		color: var(--logo);
		transition: all 0.2s ease-in-out;

		&:hover {
			color: var(--hover-a);
		}
	}
}

@media (max-width: 480px) {
	.auth-page {
		padding: 2rem 0;
		gap: 1.5rem;
		height: 91vh;

		> p {
			font-size: 1rem;
			padding: 10px 20px;
		}

		> a {
			font-size: 0.9rem;
		}
	}
}
